<app-search-bar></app-search-bar>
  <hr class="hr-prolonged" />
  <div class="pb-3 row align-items-center pt-2">
      <i class="fa fa-arrow-left d-inline" style="color:white;"></i>
      <h4 class="clickable d-inline ml-2 mb-0" (click)="gotoHome()">Back to start page</h4>
  </div>
  
  <div class="row curved">
    <div class="col-12 col-lg-8 left-column curved p-0">
      <app-video-details></app-video-details>
    </div>
    <div class="col-12 col-lg-4 pl-4 right-column curved">
      <app-video-list></app-video-list>
    </div>
  </div>